body{
    background-color: rgb(165, 148, 148);
    max-width: max-content;
}
.nav{
    display:flex;
    justify-content: space-between;
    margin: 1.5rem;
    border: 1px solid

}
.list{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    padding:1rem;
}
.titan{
    margin: 0.5rem 0rem 0rem 3rem;
    font-weight: bolder;
    font-size:x-large;
}
.content{
    margin: 12rem 0rem 12rem 4.5rem;
}
#about{
    font-size: xx-large;
    font-weight: bold;
}
.part1{
    display: flex;
    justify-content: space-around;
}
.part2{
    display: flex;
    justify-content: space-around;
}
.txt{
    width: 250px;
    height: 200rem;
}